.product {
    display: flex;
    padding: 15px 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 10%) 1px 0 11px 6px, rgb(0 0 0 / 4%) 0 10px 10px -5px;
    border-radius: 5px;
}

h4 {
    color: darkslateblue;
}

.product .details {
    padding-left: 25px;
}

.product .details button,
.btn-regular {
    background-color: #ff9900;
    width: 200px;
    height: 30px;
    border: 1px solid lightyellow;
    border-radius: 3px;
    cursor: pointer;
}

.product .details button:hover,
.btn-regular:hover {
    background-color: #ffac2f;
}
