.header {
    text-align: center;
    padding-top: 30px;
}

.logo {
    height: 60px;
}

.header nav {
    background: #000000;
    padding: 20px 0;
}

.header nav a {
    text-decoration: none;
    color: #FF9900;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.header nav a:hover {
    background-color: #ff9900;
    color: white;
}
